

* {
    box-sizing: border-box;
}

#app {
    background: url("../media/background.jpg") center top / cover no-repeat;
    min-height: 100vh;
    max-width: 100vw;  
    position: relative;  
}

/* header  */

#wrapper-color {
    background: rgba(15, 126, 169, 0.87);
    position: absolute;
    width: 100%;
    height: 100%;
}

.mobile-menu {
    background-color: #033c52de;
    width: 50vw;
    height: 100vh;
    z-index: 90;
    left: -120%;
}

.mobile-menu .wrapp-icon {
    background-color: #033c52de;
    top: 20px; 
    border-end-end-radius: 12px;
    border-top-right-radius: 12px;
}

.mobile-menu .icon-menu {
    left: 100%;
}

.mobile-menu .menu a {
    font-size: 18px;
    cursor: pointer;
    display: block;
    padding: 8px 8px;
}

.desktop a {
    font-size: 24px;
    cursor: pointer;
    padding: 8px;
    font-weight: 500;
    color: white;
}
/* body  */
    /* home  */
.review-image {
    width: 33%;
}

.review-image img {
    filter: grayscale(100%)
}

.review-image img:hover {
    filter: grayscale(0)
}


.item_product {
    display: flex;
    flex-direction: row;
    margin: 4px 0;
    margin-bottom: 12px;
}

.item_product img {
    margin-right: 10px;
}

/* show/hide class  */
.hide_block {
    opacity: 0;
    width: 0;
}
.active {
    opacity: 1;
    width: 100%;
    animation: show_content linear 500ms ;
}

div {
    transition: all 0.5s linear;
}
/* animation */
.fade_in {
    left: 0;
    animation: show_menu linear 500ms ;
}

.fade_out {
    left: -120%;
    animation: hide_menu linear 1s ;
}

.text-shadow {
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}


@keyframes show_menu {
    from {
        left: -120%;
    }

    to {
        left: 0;
    }
}

@keyframes hide_menu {
    from {
        left: 0;
    }

    to {
        left: -120%;
    }
}

@keyframes show_content {
    from {
        transform: scale(0.4);
    }
    to {
        transform: scale(1);
    }
}

@keyframes hide_content {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(0);
    }
}